/* container for the SVG (Keyboard Overlay) */
#svg-container {
  width: 50%;
}

/* defines the styling for the shadow overlay keys (when keys are pressed down) */
.shadowKeys {
  fill: black;
  opacity: 50%;
}

/* defines the styling for when the keys are selected in edit mode */
.selectedKeys {
  stroke: orange;
  stroke-width: 2px;
  opacity: 50%;
}

/* defines the styling for all keys when in edit mode */
.editingModeKeys {
  opacity: 50%;
  stroke: black;
  stroke-width: 1px;
}

/* defines the styling for all keys when not in edit mode */
.normalKeys {
  opacity: 100%;
  stroke: black;
  stroke-width: 1px;
}

/* edit dialog box */
/* do not change - position: absolute | visibility: hidden */
#edit {
  visibility: hidden;
  position: absolute;
  top:0;
  z-index: 1000;
  right: 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
}

/* container for the edit buttons within the edit dialog box */
#editButtons {
  display: flex;
}

/*
  PAGE / BODY
*/
/*Feel free to change body, container and .app, this is just a quick template of sorts :)*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
  outline:none;
  background-color: #fff;
  width: 100%;
  background-size: cover;
  min-height: 100vh;}
.container {
  /*background-color: #8A1C24;*/
  /*padding: 0px 2rem;*/
  max-width: 87%;
  max-height: 87%;
  margin-left: auto;
  margin-right: auto;
}
  .app{
    background-color: #e63946;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /*min-height: 100vh;*/
    width: 87%;
    height: 87%;
    padding: 20px 0px;
    /*width: 100vw;*/
    position: fixed;
    gap: 60px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

    .left{
      display: flex;
      gap: 2rem;
      flex-direction: column;
    }
    .middle{
      flex-grow: 1;
      background-color: #a8dadc;
    }
/*
Screen reader text utility class
*/
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;}