/* container for the SVG (Keyboard Overlay) */
#svg-container {
  width: 50%;
}

/* defines the styling for the shadow overlay keys (when keys are pressed down) */
.shadowKeys {
  fill: black;
  opacity: 50%;
}

/* defines the styling for when the keys are selected in edit mode */
.selectedKeys {
  stroke: orange;
  stroke-width: 2px;
  opacity: 50%;
}

/* defines the styling for all keys when in edit mode */
.editingModeKeys {
  opacity: 50%;
  stroke: black;
  stroke-width: 1px;
}

/* defines the styling for all keys when not in edit mode */
.normalKeys {
  opacity: 100%;
  stroke: black;
  stroke-width: 1px;
}

/* edit dialog box */
/* do not change - position: absolute | visibility: hidden */
#edit {
  visibility: hidden;
  position: absolute;
  top:0;
  z-index: 1000;
  right: 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
}

/* container for the edit buttons within the edit dialog box */
#editButtons {
  display: flex;
}