svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* defines the styling for the shadow overlay keys (when keys are pressed down) */
.shadowKeys {
  fill: black;
  opacity: 50%;
}

/* defines the styling for when the keys are selected in edit mode */
.selectedKeys {
  stroke: orange;
  stroke-width: 2px;
  opacity: 70%;
}

/* defines the styling for all keys when in edit mode */
.editingModeKeys {
  opacity: 50%;
  stroke: black;
  stroke-width: 1px;
}

/* defines the styling for all keys when not in edit mode */
.normalKeys {
  opacity: 50%;
  stroke-width: 1px;
}

/* edit dialog box */
/* do not change - position: absolute | visibility: hidden */
#edit {
  visibility: hidden;
  position: absolute;
  /*top:0;*/
  z-index: 1000;
  /*right: 0;*/
  width: 45%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* container for the edit buttons within the edit dialog box */
#editButtons {
  display: flex;
}

/*
  PAGE / BODY
*/
/*Feel free to change body, container and .app, this is just a quick template of sorts :)*/
body {
  font-family: 'Press Start 2P', cursive;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
  outline:none;
  background-color: #E6E6D4;
  width: 100%;
  background-size: cover;
  min-height: 100vh;}

.container {
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
}
  .app{
    /*background-color: #e63946;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /*min-height: 100vh;*/
    width: 87%;
    height: 87%;
    padding: 20px 0px;
    /*width: 100vw;*/
    position: fixed;
    gap: 60px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

    /*Left flex column for three popup buttons*/
    .left{
      display: flex;
      gap: 2rem;
      flex-direction: column;
    }
    /*button styling for switch, colour, share, and music*/
    .switch-button, .colour-button, .share-button, .music-button{
      font-size: 25px;
      color: #FFBE00;
      height: auto;
      margin: 10px;
      font-family: 'Press Start 2P', cursive;
      background-color: #1C819E;
      padding: 10px;

      position: relative;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;

      cursor: pointer;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .switch-button:active, .colour-button:active, .share-button:active .music-button:active {
      top: 2px;
    }
    
    .switch-button, .colour-button, .share-button, .music-button {
      position: relative;
      display: block;
      margin: 10px;
      text-transform: uppercase;
      
      font-size: 25px;
    }
    
    .switch-button::before, .colour-button::before, .share-button::before, .music-button::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: -10px;
      right: -10px;
      background: #1C819E;
      z-index: -1;
    }
    
    .switch-button::after, .colour-button::after, .share-button::after, .music-button::after{
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: -6px;
      right: -6px;
      background: #1C819E;
      z-index: -1;
    }
    
    .switch-button , .colour-button, .share-button, .music-button{
      padding: 10px 10px;
      position: relative;
      background: #1C819E;
      width: auto;
      z-index: 2;
    }
    
    /*Middle flex column displaying monitor and keyboard*/
    .middle{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      height: 100%;
    }

    .screen-output {
      position: relative;
      top: 0;
      left: 0;
    }

    .textbox {
      position: absolute;
      top: 125px;
      left: 100px;
      height: 200px;
      width: 300px;
      background-color: transparent;
      color:#E6E6D4;
      font-family: 'Press Start 2P', cursive;
    }

    .clear-button {
      position: absolute;
      top: 375px;
      left: 10px;
      background-color: transparent;
      border-color: transparent;
    }

    .monitor {
      max-height: 50vh;
      width: auto;
    }

    .keyboard {
      position:relative;
      z-index: 999999;
      top: 0;
      left: 0;
    }

    .keyboard-color {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    /*.music {
      border: 1px solid blue;
    }*/

    /*Right flex with music button, and mouse*/
    .right {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    .mouse {
      height: 40%;
      width: auto;
    }
    /*.mouse {
      display: flex;
      justify-self: end;
      align-self: end;
    }*/

/*common layout for all three pop ups*/
.content{
  text-align: center;
  width: 40vw;
  height: 50vh;
  margin: 20px 0px;
  /*margin: 85px auto 0;*/
  padding: 15px 75px;
  border-radius: 20px;
  background-color: #003049;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;    
}
.content .ri-close-line{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #4E6E81;
  font-size: 2rem;
  color: #E4DCCF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.ri-close-line:hover {
  background-color: #a8dadc;
  color: #003049;
}
main h2 {
  margin-bottom: 2rem;
  margin-top: 1.2rem;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #FFBE00;                                      
  text-transform: uppercase;
  letter-spacing: 12px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 1);
}

/*Pop up window CSS*/
  .popup-switchContainer{
    display: flex;
    align-items: center;
    
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transform: scale(0);
  }
  .popup-switchContainer.active-popup{
    transform: scale(1);
  }

    /*.popup-switchContainer .content{
      text-align: center;
      width: 40vw;
      height: 50vh;
      margin: 20px 0px;
      
      padding: 15px 75px;
      border-radius: 20px;
      background-color: #003049;
      position: relative;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      overflow: scroll;    
    }*/
    
      .buttons{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
      }

.popup-colourContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background: rgba(0, 0, 0, 0.3);*/
  transform: scale(0);
}

.popup-colourContainer.active-popup{
    transform: scale(1);
  }

   .popup-colourContainer .content{
      /*text-align: center;*/
      width: 45vw;
      /*height: 50vh;
      margin: 20px 0px;
      padding: 15px 75px;
      border-radius: 20px;
      background-color: #003049;
      position: relative;
      z-index: 2;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      overflow: scroll;    */
    }
    /*.popup-colourContainer .content .ri-close-line{
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      background: #4E6E81;
      font-size: 2rem;
      color: #E4DCCF;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 20px;
      cursor: pointer;
      z-index: 1;
    }
    .ri-close-line:hover {
      background-color: #a8dadc;
      color: #003049;
    }
      main h2 {
        margin-bottom: 2rem;
        margin-top: 1.2rem;
        font-size: 2vw;
        font-family: 'Press Start 2P', cursive;
        color: #FFBE00;                                      
        text-transform: uppercase;
        letter-spacing: 12px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 1);
        
      }*/

      /*Colour picker css*/
      .editButtons {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 1rem;
        font-size: 0.5vw;
        margin: 8px 0px;
      }
      .popup-colourContainer .keyboard {
        display: flex;
        align-items: flex-end;
        margin-top: 90%;
        position:relative;
        z-index: 999999;
      }
      .keyboard {
        position:relative;
        z-index: 999999;
        top: 0;
        left: 0;
      }
  
      .keyboard-color {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      /*Switch pop up*/
      .popup-shareContainer {
        display: flex;
        align-items: center;
        
        justify-content: center;
        min-height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        transform: scale(0);
      }
      
        .popup-shareContainer.active-popup{
          transform: scale(1);
        }
      
          /*.popup-shareContainer .content{
            text-align: center;
            width: 40vw;
            height: 50vh;
            margin: 20px 0px;
            padding: 15px 75px;
            border-radius: 20px;
            background-color: #003049;
            position: relative;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            overflow: scroll;    
          }

          .content .ri-close-line{
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            height: 45px;
            background: #4E6E81;
            font-size: 2rem;
            color: #E4DCCF;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 20px;
            cursor: pointer;
            z-index: 1;
          }
          .ri-close-line:hover {
            background-color: #a8dadc;
            color: #003049;
          }
            main h2 {
              margin-bottom: 2rem;
              margin-top: 1.2rem;
              font-size: 2vw;
              font-family: 'Press Start 2P', cursive;
              color: #FFBE00;                                      
              text-transform: uppercase;
              letter-spacing: 12px;
              box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 1);
            }*/
            
/*
Screen reader text utility class
*/
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;}