/* container for the SVG (Keyboard Overlay) */
#svg-container {
  width: 50%;
}

/* defines the styling for the shadow overlay keys (when keys are pressed down) */
.shadowKeys {
  fill: black;
  opacity: 50%;
}

/* defines the styling for when the keys are selected in edit mode */
.selectedKeys {
  stroke: orange;
  stroke-width: 2px;
  opacity: 50%;
}

/* defines the styling for all keys when in edit mode */
.editingModeKeys {
  opacity: 50%;
  stroke: black;
  stroke-width: 1px;
}

/* defines the styling for all keys when not in edit mode */
.normalKeys {
  opacity: 100%;
  stroke: black;
  stroke-width: 1px;
}

/* edit dialog box */
/* do not change - position: absolute | visibility: hidden */
#edit {
  visibility: hidden;
  position: absolute;
  top:0;
  z-index: 1000;
  right: 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
}

/* container for the edit buttons within the edit dialog box */
#editButtons {
  display: flex;
}

/*
  PAGE / BODY
*/
/*Feel free to change body, container and .app, this is just a quick template of sorts :)*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
  outline:none;
  background-color: #E6E6D4;
  width: 100%;
  background-size: cover;
  min-height: 100vh;}
.container {
  /*background-color: #8A1C24;*/
  /*padding: 0px 2rem;*/
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
}
  .app{
    /*background-color: #e63946;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /*min-height: 100vh;*/
    width: 87%;
    height: 87%;
    padding: 20px 0px;
    /*width: 100vw;*/
    position: fixed;
    gap: 60px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
    .left{
      display: flex;
      gap: 2rem;
      flex-direction: column;
      
    }
    .switch-button, .colour-button, .share-button{
      font-size: 25px;
      color: #FFBE00;
      height: auto;
      margin: 10px;
      font-family: 'Press Start 2P', cursive;
      background-color: #1C819E;
      padding: 10px;

      position: relative;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;

      cursor: pointer;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .switch-button:active, .colour-button:active, .share-button:active {
      top: 2px;
    }
    
    .switch-button, .colour-button, .share-button {
      position: relative;
      display: block;
      margin: 10px;
      text-transform: uppercase;
      
      font-size: 25px;
    }
    
    .switch-button::before, .colour-button::before, .share-button::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: -10px;
      right: -10px;
      background: #1C819E;
      z-index: -1;
    }
    
    .switch-button::after, .colour-button::after, .share-button::after{
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: -6px;
      right: -6px;
      background: #1C819E;
      z-index: -1;
    }
    
    .switch-button , .colour-button, .share-button{
      padding: 10px 10px;
      position: relative;
      background: #1C819E;
      width: auto;
      z-index: 2;
    }
    
    .middle{
      flex-grow: 1;
      background-color: #a8dadc;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .screen-output {
      position: relative;
      top: 0;
      left: 0;
    }

    .textbox {
      position: absolute;
      top: 125px;
      left: 100px;
      height: 200px;
      width: 300px;
      background-color: transparent;
      color:#E6E6D4;
      font-family: 'Press Start 2P', cursive;
    }

    .clear-button {
      position: absolute;
      top: 375px;
      left: 10px;
      background-color: transparent;
      border-color: transparent;
    }

    .monitor {
      max-height: 600px;
      width: auto;
    }

    .keyboard {
      position:relative;
      top: 0;
      left: 0;
    }

    .keyboard-color {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    
    .mouse {
      height: 400px;
      width: auto;
    }

    .right {
      display: flex;
     flex-direction: column;
      align-content: space-between;
      justify-content: center;
    }

    .mouse {
      display: flex;
      justify-self: end;
      align-self: end;

    }

/*
Screen reader text utility class
*/
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;}